<%- include('../templates/header', {title: title}) %>
<%- include('../templates/navbar') %>

<div class="container p-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card border-info mb-3">
                <div class="card-header text-white text-center" style="background-color: #31d1f1;">
                    <h3>Account Help</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Please insert your email below to reset your password.</p>
                    <form action="/auth/forgotPassword" method="post" class="needs-validation" novalidate>
                        <div class="card form-group form-floating mb-3">
                            <input class="form-control" placeholder="Enter your email" name="email" id="email">
                            <label for="email" class="form-label">Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Email is required.</div>
                        </div>
                        <div class="card form-group form-floating mb-3">
                            <button type="submit" class="btn btn-info">
                                Reset Password
                            </button>
                        </div>
                    </form>
                    <div class="form-group ">
                        <a class="card-link text-decoration-none small" style="" href="/auth/login">Return to login?</a>
                    </div>
                    <% errors.forEach((error) => { %>
                        <p class="alert alert-danger"> <%= error %> </p>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../templates/footer') %>